{% extends "sunset-to-sunset/_layouts" %}
{% import "_includes/forms" as forms %}
{% from "sunset-to-sunset/_macros" import configWarning %}

{% set selectedTab = 'advanced' %}

{% set fullPageForm = true %}

{% block blockContent %}
	{{ parent() }}

    <input type="hidden" name="action" value="plugins/save-plugin-settings">
    <input type="hidden" name="pluginHandle" value="sunset-to-sunset">

    {% namespace 'settings' %}

        {{ forms.selectField({
            first: true,
            label:        'Banner CSS Position'|t('sunset-to-sunset'),
            instructions: 'Set the CSS `position` property for the banner.'|t('sunset-to-sunset'),
            id:           'bannerCssPosition',
            name:         'bannerCssPosition',
            value:        settings.bannerCssPosition,
            options: {
                    'relative' : 'Relative',
                    'fixed' : 'Fixed',
            },
            class:        configWarning('bannerCssPosition', 'sunset-to-sunset') ? 'disabled',
            disabled:     configWarning('bannerCssPosition', 'sunset-to-sunset'),
            warning:      configWarning('bannerCssPosition', 'sunset-to-sunset'),
            errors:       settings.getErrors('bannerCssPosition')
        }) }}

        {{ forms.colorField({
            label:        'Banner CSS Background Color'|t('sunset-to-sunset'),
            instructions: 'Set the CSS `background-color` property for the banner. Any valid CSS color declaration is accepted.'|t('sunset-to-sunset'),
            id:           'bannerCssBackgroundColor',
            name:         'bannerCssBackgroundColor',
            value:        settings.bannerCssBackgroundColor,
            placeholder:  '#da5a47 or rgb(218, 90, 71)',
            class:        configWarning('bannerCssBackgroundColor', 'sunset-to-sunset') ? 'disabled' : 'code',
            disabled:     configWarning('bannerCssBackgroundColor', 'sunset-to-sunset'),
            warning:      configWarning('bannerCssBackgroundColor', 'sunset-to-sunset'),
            errors:       settings.getErrors('bannerCssBackgroundColor')
        }) }}

        <hr>

        {{ forms.selectField({
            label:        'Simulate Time'|t('sunset-to-sunset'),
            instructions: 'Test how the banner will appear before, during, and after the Sabbath hours.'|t('sunset-to-sunset'),
            id:           'simulateTime',
            name:         'simulateTime',
            value:        settings.simulateTime,
            options: {
                    '' : 'No Simulation',
                    'before' : 'Before Sabbath',
                    'during' : 'During Sabbath',
                    'after' : 'After Sabbath',
            },
            class:        configWarning('simulateTime', 'sunset-to-sunset') ? 'disabled',
            disabled:     configWarning('simulateTime', 'sunset-to-sunset'),
            warning:      configWarning('simulateTime', 'sunset-to-sunset'),
            errors:       settings.getErrors('simulateTime')
        }) }}

    {% endnamespace %}

{#<h2>Troubleshooting</h2>#}
{#<p><a class="btn" href="{{ url('utils/logs/sunsettosunset.log') }}">View logs</a></p>#}

{% endblock %}