{% extends "sunset-to-sunset/_layouts" %}
{% import "_includes/forms" as forms %}
{% from "sunset-to-sunset/_macros" import configWarning %}

{% set selectedTab = 'template' %}

{% set fullPageForm = true %}

{% block blockContent %}
	{{ parent() }}

    <input type="hidden" name="action" value="plugins/save-plugin-settings">
    <input type="hidden" name="pluginHandle" value="sunset-to-sunset">
    
    {% namespace 'settings' %}

        {{ forms.textField({
            first: true,
            label: 'Template Redirect'|t('sunset-to-sunset'),
            class: 'code',
            instructions: 'Enter the url to the template that will display the full message above during the Sabbath hours. <span class="error">**Template must exist**</span> and have `{{ craft.sunsettosunset.message }}` to display the message.'|t('sunset-to-sunset'),
            id: 'templateRedirect',
            name: 'templateRedirect',
            type: 'text',
            placeholder: '/sabbath',
            value: settings.templateRedirect
        }) }}

        {{ forms.lightswitchField({
            label:        'Show Banner on Specific URLs Only'|t('sunset-to-sunset'),
            instructions: 'If this is checked the plugin will only show the banner message on the specific urls added in the **Specific Redirect URLs** field.'|t('sunset-to-sunset'),
            id:           'showBannerOnSpecificUrls',
            name:         'showBannerOnSpecificUrls',
            on:           settings.showBannerOnSpecificUrls,
            disabled:     configWarning('showBannerOnSpecificUrls', 'sunset-to-sunset'),
            warning:      configWarning('showBannerOnSpecificUrls', 'sunset-to-sunset'),
            errors:       settings.getErrors('showBannerOnSpecificUrls')
        }) }}

        {{ forms.textareaField({
            label: 'Spefic Redirect URLs'|t('sunset-to-sunset'),
            class: 'code',
            instructions: 'The plugin will only redirect to the template above if the requested url <span class="error">**starts with**</span> one of the urls below.

### Examples:

<table class="data fullwidth collapsible">
    <thead>
    <tr>
        <th>Specific URL</th>
        <th>Matches URL starting with</th>
        <th>Redirects to</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>/store</code></td>
            <td><code>' ~ siteUrl ~ 'store</code></td>
            <td><code>' ~ settings['templateRedirect'] ~ '</code></td>
        </tr>
        <tr>
            <td><code>/</code></td>
            <td><code>' ~ siteUrl ~ '</code></td>
            <td><code>' ~ settings['templateRedirect'] ~ '</code></td>
        </tr>
        <tr>
            <td><code>/news</code></td>
            <td><code>' ~ siteUrl ~ 'news</code></td>
            <td><code>' ~ settings['templateRedirect'] ~ '</code></td>
        </tr>
        <tr>
            <td><code>/news/' ~ now | date('Y') ~ '</code></td>
            <td><code>' ~ siteUrl ~ 'news/' ~ now | date('Y') ~ '</code></td>
            <td><code>' ~ settings['templateRedirect'] ~ '</code></td>
        </tr>
    </tbody>
</table>

**Enter each URL on a new line.**',


            id: 'specificRedirectUrls',
            name: 'specificRedirectUrls',
            type: 'text',
            placeholder: 'Leave empty to redirect every page.',
            rows: 5,
            value: settings.specificRedirectUrls
        }) }}

	{% endnamespace %}

{% endblock %}